$dark-blue: #2b3945; // Dark Mode Elements
$very-dark-blue: #202c37; // Dark Mode Background
$very-dark-blue: #111517; // Light Mode Text
$dark-gray: #858585; // Light Mode Input
$very-light-gray: #fafafa; // Light Mode Background
$white: #ffffff; // Dark Mode Text & Light Mode Elements