@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background: #fafafa;
}

header nav {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
  box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
  background: #ffffff;
  position: relative;
}

header nav .container {
  width: 1280px;
  max-width: 90%;
  margin: 0 auto;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

header nav .container h1 {
  font-weight: 700;
}

@media (max-width: 1000px) {
  header nav .container h1 {
    font-size: 1.2rem;
  }
}

header nav .container .dark-mode-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

header nav .container .dark-mode-btn i {
  margin-right: 8px;
}

main .container {
  width: 1280px;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

main .container .parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  main .container .parameters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

main .container .parameters .search {
  margin-top: 3rem;
  margin-bottom: 3.1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3.4rem;
  border-radius: 5px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
          box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  main .container .parameters .search {
    width: 100%;
  }
}

main .container .parameters .search label {
  margin: 0 24px;
}

main .container .parameters .search label i {
  color: #858585;
}

main .container .parameters .search input {
  border: none;
  width: 320px;
  height: 100%;
  outline: none;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  main .container .parameters .search input {
    width: 100%;
    font-size: 1rem;
  }
}

main .container .parameters .search input::-webkit-input-placeholder {
  color: #858585;
  font-weight: 300;
}

main .container .parameters .search input:-ms-input-placeholder {
  color: #858585;
  font-weight: 300;
}

main .container .parameters .search input::-ms-input-placeholder {
  color: #858585;
  font-weight: 300;
}

main .container .parameters .search input::placeholder {
  color: #858585;
  font-weight: 300;
}

main .container .parameters .dropdown {
  position: relative;
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 3.1rem;
}

@media (max-width: 1000px) {
  main .container .parameters .dropdown {
    margin-top: 0;
  }
}

main .container .parameters .dropdown .dropdown-toggle {
  border: none;
  outline: none;
  background: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
          box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 3.4rem;
  width: 12.5rem;
  padding-right: 3.5rem;
  padding-left: 1.4rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: left;
}

@media (max-width: 1000px) {
  main .container .parameters .dropdown .dropdown-toggle {
    width: 15rem;
  }
}

main .container .parameters .dropdown .dropdown-toggle::after {
  content: '';
  border-width: 6px;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #858585;
  position: absolute;
  right: 1rem;
  top: calc(50% + 3px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .container .parameters .dropdown .dropdown-toggle.active::after {
  border-color: transparent;
  border-bottom-color: #858585;
  top: calc(50% - 3px);
}

main .container .parameters .dropdown .dropdown-menu {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  background: #ffffff;
  padding-left: 1rem;
  font-weight: 300;
  font-size: 0.9rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
          box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
  border-radius: 5px;
  list-style: none;
  padding: 5px 0 5px;
  visibility: hidden;
}

main .container .parameters .dropdown .dropdown-menu[aria-expanded='true'] {
  visibility: visible;
}

@media (max-width: 1000px) {
  main .container .parameters .dropdown .dropdown-menu {
    width: 15rem;
  }
}

main .container .parameters .dropdown .dropdown-menu li {
  padding: 0.5rem 0 0.5rem 1rem;
  outline: none;
}

main .container .parameters .dropdown .dropdown-menu li:hover {
  background: #e4e4e4;
}

main .container .parameters .dropdown .dropdown-menu li:focus {
  background: #d6d6d6;
}

main .container .countries {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (16.5rem)[4];
      grid-template-columns: repeat(4, 16.5rem);
  grid-row-gap: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1250px) {
  main .container .countries {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column-gap: 40px;
    -ms-grid-columns: 16.5rem 16.5rem 16.5rem;
        grid-template-columns: 16.5rem 16.5rem 16.5rem;
  }
}

@media (max-width: 975px) {
  main .container .countries {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column-gap: 76px;
    -ms-grid-columns: 16.5rem 16.5rem;
        grid-template-columns: 16.5rem 16.5rem;
  }
}

@media (max-width: 670px) {
  main .container .countries {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 16.5rem;
        grid-template-columns: 16.5rem;
  }
}

main .container .countries .card {
  height: 340px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
  box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
}

main .container .countries .card .flag {
  border-radius: 5px 5px 0 0;
  height: 160px;
  width: 100%;
}

main .container .countries .card .flag img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .container .countries .card .info {
  background: white;
  height: 180px;
  border-radius: 0 0 5px 5px;
  padding: 1.5rem;
}

main .container .countries .card .info .country-name {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

main .container .countries .card .info .facts {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 66px;
}

main .container .countries .card .info .facts li {
  font-size: 0.9rem;
  font-weight: 300;
}

main .container .countries .card .info .facts li span {
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */