@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

$dark-blue: #2b3945; // Dark Mode Elements
$very-dark-blue: #202c37; // Dark Mode Background
$very-dark-blue: #111517; // Light Mode Text
$dark-gray: #858585; // Light Mode Input
$very-light-gray: #fafafa; // Light Mode Background
$white: #ffffff; // Dark Mode Text & Light Mode Elements

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background: $very-light-gray;
}

header {
  nav {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
    box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
    background: $white;
    position: relative;

    .container {
      width: 1280px;
      max-width: 90%;
      margin: 0 auto;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      z-index: 100;

      h1 {
        font-weight: 700;
      }

      .dark-mode-btn {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 1rem;

        i {
          margin-right: 8px;
        }
      }
    }

  }
}

main {
  .container {
    width: 1280px;
    max-width: 90%;
    margin: 0 auto;

    .search {
      margin-top: 3rem;
      margin-bottom: 3.1rem;
      width: fit-content;
      height: 3.4rem;
      border-radius: 10px;
      background: $white;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
      -moz-box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
      box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
      display: flex;
      align-items: center;

      label {
        i {
          color: $dark-gray;
        }

        margin: 0 24px;
      }

      input {
        border: none;
        width: 420px;
        height: 100%;
        outline: none;


        &::placeholder {
          color: $dark-gray;
          font-weight: 300;
        }

        &:active {}
      }
    }

    .countries {
      display: grid;
      grid-template-columns: repeat(4, 16.5rem);
      // grid-column-gap: 75px;
      grid-row-gap: 70px;
      justify-content: space-between;

      @media(max-width:1000px) {
        grid-template-columns: 1fr;
      }

      .card {
        height: 340px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
        -moz-box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);
        box-shadow: 0px 2px 5px 0px rgba(180, 180, 180, 0.4);

        .flag {
          border-radius: 5px 5px 0 0;
          height: 160px;
          width: 100%;

          img {
            border-radius: 5px 5px 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .info {
          background: white;
          height: 180px;
          border-radius: 0 0 5px 5px;
          padding: 1.5rem;

          .country-name {
            font-size: 1.2rem;
            margin-bottom: 1rem;
          }

          .facts {
            list-style: none;
            display: flex;
            flex-direction: column;
            height: 66px;

            li {
              font-size: 0.9rem;
              font-weight: 300;

              span {
                font-weight: 600;
              }
            }
          }
        }
      }

    }

  }
}